#hd {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-transition: height 0.2s linear 0.1s, -webkit-transform 0.2s linear;
  transition: height 0.2s linear 0.1s, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, height 0.2s linear 0.1s;
  transition: transform 0.2s linear, height 0.2s linear 0.1s, -webkit-transform 0.2s linear;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.hide {
    transform: translateY(-100%);
  }

  .hd-group {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 95px;

    .hd-logo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }

    .hd-nav {
      display: flex;
      justify-content: center;
      .nav-list {
        display: flex;
      }

      .nav-item {
        display: flex;
        align-items: center;
        height: 95px;
        padding: 0 15px;
        font-weight: 400;
      }

      .depth1-list,
      .depth1-item {
        position: relative;
      }

      .depth1-list {
        position: absolute;
        width: 100%;
        justify-content: center;
        top: 95px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        transition: 0.5s;
      }

      .depth1-item {
        padding: 15px;
      }

      .sub {
        display: none;

        &.show {
          display: flex;
        }
      }
    }

    .lang-btn-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      .lang-btn {
        display: flex;
        align-items: center;
        svg {
          width: 24px;
          height: 24px;
        }
      }

      .lang-txt {
        display: inline-block;
        margin: 0 5px;
        font-size: 18px;
        font-weight: 400;
      }

      .btn-list {
        position: absolute;
        right: 0;
        top: 30px;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        background-color: #fff;
        border: 1px solid $color-desc;
        border-radius: 6px;
        transition: all 0.3s;

        .btn-item:nth-child(1) {
          a {
            padding-top: 6px;
            padding-bottom: 2px;
          }
        }
      }

      &.active {
        .btn-list {
          visibility: visible;
          opacity: 1;
        }
      }

      .lang-link {
        display: block;
        padding: 2px 14px 4px 13px;
        font-size: 18px;
        font-weight: 400;
      }
    }

  }
}